.formatForm{
    width: 200px;
    margin: 0% auto;
}
.myclass
{
    color:red;
}

.formatGoButton{
    color: darkgrey;
    font-weight: bold;
}
.formatGoButton:hover{
    color: black;
    box-shadow: 1.5px 2px lightgray;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

table{
    margin: 0% auto;
}