        <div style="height:100px;"></div>
          <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" class="active" id="login-form-link">Login</a>
                                    </div>
                                    <div class="col-xs-6 register">
                                        <a href="#" id="register-form-link">Register</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form (ngSubmit)="onLogin()" #login="ngForm" name="loginForm" id="loginForm" action="" method="post" role="form" [ngStyle]="{display: login}">
                                                <div class="our-team" ngModelGroup="loginFormGroupData" #loginFormGroupData = "ngModelGroup">
                                            <div class="form-group">
                                                <input type="text" name="login_username" id="login_username" tabindex="1" class="form-control" placeholder="Username" value="{{loginData.enrollment}}" [disabled]="true" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="login_password" id="login_password" tabindex="2" class="form-control" placeholder="Password" ngModel required>
                                            </div>
                                            <div class="form-group text-center">
                                                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                <label for="remember"> Remember Me</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <a href="" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                        <form  (ngSubmit)="onSubmit()" #f="ngForm" id="setupProfileForm" role="form" [ngStyle]="{display: register}">
                                                <div class="our-team" ngModelGroup="setupProfileGroupData" #setupProfileGroupData = "ngModelGroup">
                                            <!-- <div class="form-group">
                                                <h3 class="title">{{userData.name}}<br>{{userData.enrollment}}<br>{{userData.program}}</h3>
                                            </div> -->
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="name" value="{{userData.name}}" [disabled]="true" >        
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="enrollment" name="enrollment" value="{{userData.enrollment}}" [disabled]="true">        
                                            </div>
                                            
                                            <div class="form-group">
                                                
                                                <input type="text" class="form-control" id="program" name="program" value="{{userData.program}}" [disabled]="true">        
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile number(optional)" data-toggle="tooltip" data-placement="right" title="for mobile notification" ngModel required>        
                                            </div>
                                                <!-- email field -->
                                                <div class="form-group">
                                                    <input class="form-control" id="email" placeholder="Enter email" name="email" type="text" ngModel required email>
                                                    <span id="checkEmail">
                                                    </span>
                                                </div>

                                                <!-- password field -->
                                                    <div class="form-group">
                                                        <input type="password" class="form-control"  name="password" id="password" placeholder="enter password..." ngModel required>
                                                    </div>
                        
                                                <!-- confirm password field -->
                                                <div  class="form-group">
                                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="retype password..." ngModel required>
                                                    <span id="divCheckPasswordMatch"></span>
                                                    </div>
                                            
                                            
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                            <button style="display:none; margin:0 auto;" id="submit" type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <!-- $("#confirmPassword").css("box-shadow","0 0 6px red"); -->
