<div *ngIf="!showSpinnerr; then trueBlock else falseBlock"></div>
    <ng-template #trueBlock>
        
          <div class="text-center" id="main" style="padding: 10%">
                                <div class="row" >
                                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 " >
                                        <!-- <a href="#" class="active" id="guest">SCORE!</a> -->
                                        <label id="guest">SCORE!</label>
                                        <hr>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 ">
                                            <app-loader  *ngIf="showSpinnerg"></app-loader>
                                        <form (ngSubmit)="onGuest()" #guest="ngForm" name="guestForm" id="guestForm" action="" method="post" role="form">
                                            <div class="form-group">
                                                <select 
                                                class="form-control" 
                                                name="guest_program" 
                                                id="guest_program"
                                                ngModel
                                                required>
                                                  <option value>Select Program:</option>
                                                  <option value="BCA                 ">BCA                 </option>
                                                  <option value="MCA                 ">MCA                 </option>
                                                  </select>
                                                </div>

                                            <div class="form-group">
                                                <input type="text" name="guest_enrollment" id="guest_enrollment" tabindex="1" class="form-control" placeholder="Enrollment" ngModel required #enrollment> 
                                            </div>
                                            <div class="form-group">
                                                    
                                                    <!-- guest_error -->
                                                <label class="text-center" style="color:red;">{{guest_error}}</label>

                                            </div>

                                            <div class="form-group">
                                                <div class="row text-center">
                                                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 " >
                                                        <input type="submit" name="guest-submit" id="guestSubmit" tabindex="4" class="btn btn-default btn-block" value="Go" style="border:0px solid white;">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </form>


                            </div>
                            </div>
        
