<app-header></app-header>
<!-- <div class=""> -->
    <!-- master row  -->
    <div class="center">
    
            <h5 id="watermark">{{username}}</h5>
        </div>
    
    <!-- <div class=""  > -->   
       
            
      <!-- main column -->
      <div class="main" >
          <!-- alert switching row  -->
          <div class="row">        
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <ul class="list-inline">
                      <li>
                          <span style="font-size: 25px">Score : {{percent  | number : '1.2-2' }}%</span><br>
                          <!-- <span>{{ total_marks }}</span> -->
                      </li>
                  </ul> 
              </div>
          </div>

          <!-- score table row -->
          <div style="background-color:white; border:white 1px solid" class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                  <div class="row" id="scorecard">
                      <div *ngFor="let row of master_data; let i = index;" class="column">
                          <div class="card" *ngIf="row.status=='Pass' else failed">
                              <div class="row">
                                  
                                  <div [ngSwitch]="row.theory" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                      <h2 id="course_code" style="padding-right:10px;">{{row.course_code}}</h2>
                                      <span style="font-size: 11px;"> {{row.course_name}}</span>
                                     
                                      <h3 id="total" *ngSwitchCase="'NA'"><span style="font-size:50px;" *ngIf="row.total!=0 else elsepart">{{row.total}}</span></h3>
                                      <h3 id="total" *ngSwitchDefault style="font-size:50px;">{{row.total}}</h3>
                                  </div>
                                  
                                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        
                                          <div id="assignment" *ngIf="row.Asgn1!='-'">
                                              <label>Assignment {{row.Asgn1}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab1!='NA'">
                                              <label>Lab1 <br> {{row.lab1}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab2!='NA'">
                                              <label>Lab2 <br> {{row.lab2}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab3!='NA'">
                                              <label>Lab3 <br> {{row.lab3}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab4!='NA'">
                                              <label> Lab4 <br> {{row.lab4}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.theory!='NA'">
                                              <label>Theory <br> {{row.theory}}</label>
                                          </div>
                                  </div>
                                  
                                  
                              </div>
                              
                          </div>
                          <ng-template #failed>
                          <div class="card container" style="background-color:rgb(235, 235, 235)">
                              <div class="row">
                                  
                                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="failed_head">
                                      <h2 id="course_code_failed">{{row.course_code}}</h2>
                                      <span style="font-size: 11px; color:red;"> {{row.course_name}}</span>
                                      <h3 id="total_failed" *ngIf="row.total!='0' else elsepart" style="font-size:50px;">{{row.total}}</h3>
                                  </div>
                                  
                                  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="failed" style="color:red">
                                     
                                      <div id="assignment" *ngIf="row.Asgn1!='-'">
                                              <label>Assignment <br> {{row.Asgn1}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab1!='NA'">
                                              <label>Lab1 <br> {{row.lab1}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab2!='NA'">
                                              <label>Lab2 <br> {{row.lab2}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab3!='NA'">
                                              <label>Lab3 <br>{{row.lab3}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.lab4!='NA'">
                                              <label> Lab4 <br>{{row.lab4}}</label>
                                          </div>
                                          <div id="assignment" *ngIf="row.theory!='NA'">
                                              <label>Theory <br>{{row.theory}}</label>
                                          </div>
                                  </div>
                              </div>
                              
                          </div>
                      </ng-template>
                      </div>
                      
                  </div>

                  <div id="scoretable">
                  <table class="table table-responsive table-fit ">
                      <thead>
                          <tr>
                              <th>Code</th>
                              <th>Name</th>
                              <th>Asgn1</th>
                              <th>LAB1</th>
                              <th>LAB2</th>
                              <th>LAB3</th>
                              <th>LAB4</th>
                              <th>Theory</th>
                              <!-- <th>Status</th> -->
                              <th>Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of master_data; let i = index;" >
                              <!-- <td *ngIf="row.status=='Pass' else failed_serial" >
                                  {{i+1}}
                              </td > -->
                              <td *ngIf="row.status=='Pass' else failed_course_code" style="width: 6%;">
                                 {{row.course_code}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_course_name" style="width: 26%;">
                                 {{row.course_name}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_assign" >
                                 {{row.Asgn1}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_lab1" >
                                 {{row.lab1}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_lab2" >
                                 {{row.lab2}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_lab3" >
                                 {{row.lab3}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_lab4" >
                                 {{row.lab4}} 
                              </td>
                              <td *ngIf="row.status=='Pass' else failed_theory">
                                 {{row.theory}} 
                              </td>
                              <!-- <td *ngIf="row.status=='Pass' else failed_status" >
                                 {{row.status}} 
                              </td> -->
                              <td *ngIf="row.status=='Pass' else failed_total" >
                                 {{row.total}} 
                              </td>

                              <ng-template #failed_serial>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{i+1}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_course_code>
                                      <td style="color:rgb(212, 74, 74); width: 06%;">
                                              {{row.course_code}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_course_name>
                                <td style="color:rgb(212, 74, 74); width: 26%;">
                                        {{row.course_name}}
                                </td >    
                                </ng-template>
                              <ng-template #failed_assign>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.Asgn1}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_lab1>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.lab1}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_lab2>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.lab2}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_lab3>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.lab3}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_lab4>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.lab4}}
                                      </td >    
                              </ng-template>
                              <ng-template #failed_theory>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.theory}}
                                      </td >    
                              </ng-template>
                              <!-- <ng-template #failed_status>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.status}}
                                      </td >    
                              </ng-template> -->
                              
                              <ng-template #failed_total>
                                      <td style="color:rgb(212, 74, 74);">
                                              {{row.total}}
                                      </td >    
                              </ng-template>
                              
                          </tr>
                      </tbody>
                  </table>
                  </div>
                  
              </div>
              
          </div>
          <!-- end of score table row -->

      </div>
      <!-- end of main column -->
      
  <!-- </div> -->
  <!-- end of master row -->


<!-- </div> -->



<app-footer ></app-footer>


<!-- <div class="row"> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
    <div class="modal fade" id="feedbackAlert">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title text-center">ALERT</h4>
            </div>
            <div class="modal-body">
                <!-- <p> -->
                  This is to inform you. If you find any incorrectness in your scores then <strong> report by given feedback option in the footer</strong><br><br> Thank you for your support.   
                <!-- </p> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>    
  <!-- </div> -->
<!-- </div> -->