<div class="container-fluid">
    <!-- master row  -->
    <div class="row">
        <!-- sidebar -->
        <div style="border:black 1px solid " class="sidebar col-xs-3 col-sm-3 col-md-3 col-lg-3">
            Student's profile

            <div class="row">
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <img src="" alt="">
                </div>
            </div>

        </div>
        <!-- end sidebar -->
        
        
        <!-- main column -->
        <div class="main col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <!-- navbar row -->
            <div style="background-color:seagreen; border:black 1px solid" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-inline" style="text-align :right">
                        <li>
                            <button class="btn btn-default btn-sm" (click) = "refresh()">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </li>
                        <li>
                            <span style="color:beige">{{username}}</span>
                        </li>
                        <li>
                            <button class="btn btn-default" (click)="logout()">Logout</button>
                            <!-- <a class="button" [routerLink]="" (click)="logout()">
                                <div class="logout">LOGOUT</div>
                              </a> -->

                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of navbar row -->

            <!-- alert switching row  -->
            <div style="background-color:aquamarine; border:black 1px solid " class="row">        
                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    
                    <label>Email alert : <button class="btn btn-link">subscribe</button> </label>   
                </div>
                
            </div>
            <!-- end of alert switching row  -->

            <!-- scores, views -->
            <div style="background-color: lightcoral; border:black 1px solid " class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <ul class="list-inline">
                                <li>Overall % : 90%</li>
                            </ul>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            views like grid, cards, tables
                             <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of scores, views -->

            <!-- score table row -->
            <div style="background-color:white; border:black 1px solid" class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- card view for small screens -->

                    <!-- <tr *ngFor="let row of scoreData; let i = index;"> -->
                    <div class="row" id="scorecard">
                        <div *ngFor="let row of master_data; let i = index;" class="column">
                            <div class="card container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h2>{{row.course_code}}</h2>
                                        <h4>{{row.status}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul class="list-inline">
                                            <li>Assignment : {{row.Asgn1}}</li>
                                            <li>Lab 1 : {{row.lab1}}</li>
                                            <li>Lab 2 : {{row.lab2}}</li>
                                            <li>Lab 3 : {{row.lab3}}</li>
                                            <li>Lab 4 : {{row.lab4}}</li>
                                            <li>Theory : {{row.theory}}</li>

                                        </ul>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div id="scoretable">
                    <table  style="table-layout: auto;" class="table table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <!-- <th *ngFor="let head of heading">
                                    {{ head }}
                                </th> -->
                                <th>Course Code</th>
                                <th>Asgn1</th>
                                <th>LAB1</th>
                                <th>LAB2</th>
                                <th>LAB3</th>
                                <th>LAB4</th>
                                <th>Term End Theory</th>
                                <th>Status</th>
                                <th>(25%+75%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of scoreData; let i = index;">
                                <td>
                                    {{i+1}}
                                </td>
                                <td *ngFor="let col of row">
                                   <span>{{col}}</span> 
                                </td>
                                
                                
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    
                </div>
                
            </div>
            <!-- end of score table row -->

        </div>
        <!-- end of main column -->
        
    </div>
    <!-- end of master row -->


</div>