<div class="container-fluid">
    <!-- master row  -->
    <div class="row">
        <!-- sidebar -->
        <div style="border:black 1px solid " class="sidebar col-xs-3 col-sm-3 col-md-3 col-lg-3">
            sidebar

            <div class="row">
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <img src="" alt="">
                </div>
            </div>

        </div>
        <!-- end sidebar -->
        
        
        <!-- main column -->
        <div class="main col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <!-- navbar row -->
            <div style="background-color:seagreen; border:black 1px solid" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-inline" style="text-align :right">
                        <li>
                            <button class="btn btn-default" (click)="logout()">Logout</button>
                            <!-- <a class="button" [routerLink]="" (click)="logout()">
                                <div class="logout">LOGOUT</div>
                              </a> -->

                        </li>
                    </ul>
                </div>
            </div>
            <!-- end of navbar row -->

            <!-- alert switching row  -->
            <div style="background-color:aquamarine; border:black 1px solid " class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <!-- Rounded switch -->
                            <div class="row">
                                
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label class="" style="font-size:20px;">Email Alert :</label>
                                </div>
                                
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <label class="switch">  
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                
                                
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!-- end of alert switching row  -->

            <!-- scores, views -->
            <div style="background-color: lightcoral; border:black 1px solid " class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <ul class="list-inline">
                                <li>Overall % : 90%</li>
                                <li>Sem1 % : 90%</li>
                                <li>Sem2 % : 90%</li>
                                <li>Sem3 % : 90%</li>
                                <li>Sem4 % : 90%</li>
                            </ul>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            views like grid, cards, tables
                            <p>Envelope icon: <span class="glyphicon glyphicon-th"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of scores, views -->

            <!-- score table row -->
            <div style="background-color:white; border:black 1px solid" class="row">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Course Code</th>
                                <th>Assignment</th>
                                <th>LAB-1</th>
                                <th>LAB-2</th>
                                <th>LAB-3</th>
                                <th>LAB-4</th>
                                <th>Theory</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>

                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <!-- end of score table row -->

        </div>
        <!-- end of main column -->
        
    </div>
    <!-- end of master row -->


</div>