<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
<div class="footer row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="list-inline" id="left">
            <li><a routerLink=""><i style="font-size: 22px;" class="fa fa-home"></i></a></li>
            <!-- <li><a routerLink="contribute">Contribute</a></li> -->
          </ul>
    </div>
    

    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="list-inline" id="right">
          <li><span class="glyphicon glyphicon-th"></span></li>  
          <li></li>
        </ul>
    </div>
</div>
</div>
